h1 {
    display: flex;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
}

#inputNum {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-inline: 26%;
    width: 50%;
    height: 20%;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10%;
    border: none;
    cursor: pointer;
}

#tempInput {
    display: flex;
    font-size: 15px;
    width: 20%;
    height: 205;
    position: relative;
    justify-content: center;
    border: none;
    border-radius: 40%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tempDisplay {
    display: flex;
    text-align: center;
    font-size: 30px;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin-top: 50px;
}

.radio-buttons {
   display: block;
   font-size: large;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   text-align: center;
   font-weight: bold;
   margin-top: 50px;
}

#submitBtn {
    display: flex;
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    position: absolute;
    padding: 10px 30px;
    top: 50%;
    left: 50%;
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    text-shadow: 50%;
    cursor: pointer;
}

#submitBtn:hover {
    background-color: hsl(0, 84%, 46%);
}

footer {
    display: flex;
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    padding: 10px 20px;
    top: 95%;
    left: 0;
    right: 100%;
    width: 100%;
    justify-content: center;
    color: grey;
}
